@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

@layer base {
  body {
    background-color: white;
    overflow-x: hidden;
    font-family: "Euclid Circular A", sans-serif;
    height: 100vh;
    background-image: url("/images/bg.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: inherit;
  }
}

body::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-[#141517];
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 rounded-full bg-[#E25D1A] hover:bg-[#ED6A22];
}

/* FONTS */
/* @layer base {
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Euclid-Circular-A/Euclid-Circular-A-Light.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-Regular.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-Medium.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-SemiBold.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-Bold.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-Bold.ttf")
      format("ttf");
  }
  @font-face {
    font-family: "Euclid Circular A";
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Euclid-Circular-A/Euclid-Circular-A-Bold.ttf")
      format("ttf");
  }
} */
